{% extends 'login_base.html' %}

{% block content %}

<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col  create-account-content">
                <div class="container-fluid  create-account-container">
                    <div class="row ">
                        <div class="col create-content">
                            <form method="POST" action="/login" class="col-mid-4 " >
                                {% with messages=get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                {% if alarm %}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                                {% else %}
                                <div class="alert alert-success" role="alert">
                                    {{message}}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail2">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="Enter email" name="email" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Enter Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                                </div>
                                
                                <br>

                                
                                <br>
                                <div class="submit-button">
                                    <input class="submit-button btn btn-outline-secondary" type="submit" value="Login">
                                
                                </div>
                                <br>
                                <div class="center-text"><a href="/create_account">Don't have an account? Sign up</a></div>
                                <div><br></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% endblock %}